

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* font faces */


@font-face {
    font-family: conduitl;
    src: url('../fonts/conduitl.otf');
}

@font-face {
    font-family: savoye;
    src: url('../fonts/savoye.ttc');
}

@font-face {
    font-family: steelfish;
    src: url('../fonts/steelfish.ttf');
}

/* global presets */

.btn-primary{
  border-color:#af0808;
  color:#393939;
  background-image: none;
  background-color: transparent;
  font-family: 'conduitl';
  font-size:18px;
  border-radius: 50px;
}

.btn-primary:hover,.btn-primary:focus {
  background-color: #af0808;
  color:white;
  border: none;
}

.btn-primary:active, .btn-primary.active ,.btn-primary:focus {
    background-color: #af0808;
    color:white;
    border-color: #af0808;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'conduitl'
}

body{
  overflow-x: hidden;
}

.navbar .navbar-nav {
       display: inline-block;
       float: none;
   }

   .navbar .navbar-collapse {
       text-align: center;
   }

   .widewrapper {
   width:100%;
   }

 .widewrapper > img {
   width:100%;
 }


 .nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .top5 { margin-top:5px; }
 .top7 { margin-top:7px; }
 .top10 { margin-top:10px; }
 .top15 { margin-top:15px; }
 .top17 { margin-top:17px; }
 .top30 { margin-top:30px; }
 .top50 {margin-top: 50px;}
 .uppercase{text-transform: uppercase !important }


 /* header */
.header_top{
  font-family: 'conduitl';
  font-size:18px;
  background-color: black;
  color:white;
  letter-spacing: 2px;
  padding:6px 0px;
}

.header_top a i{
  margin: 0 10px;
}

.header_top a{
  color:white;
}

.imagen_header{
  margin: 30px 0px;
  z-index: 999;
}

.imagen_header a{
  color:black;
  font-family: 'conduitl';
  font-size: 18px;
}
.navbar-fixed {
    top: 0 !important;
}
/* menu */




.main-menu.navbar-default{
  background-image: none;
  border:none;
  box-shadow: none;
  border-top: 1px solid #077b4d;
  border-bottom: 1px solid black;
  border-radius: 0px;
  margin-bottom: 0;
  background: white;
}

.navbar-default.main-menu .navbar-nav>li>a {
  margin-top:10px;
  font-family: 'conduitl';
  font-size:24px;
  color:black;
  letter-spacing: 6px;
  text-transform: uppercase;
}


.navbar-default.main-menu .navbar-nav>li{
  margin: 0 20px;
}


.navbar-default.main-menu .navbar-nav>li:hover {
}


.imagen_header a{
}
/* slide home */

.slide_home{
  margin: 45px 0;
}

.titulo_chido h2{
  font-family: 'conduitl';
  color:#050423;
  font-size: 36px;
  margin: 0;
  text-transform: uppercase;
}

.titulo_chido h4{
  font-size: 30px;
  margin:0;
  color: #007146;
  font-family: 'savoye';
}

.contenido_slide h2{
  margin: 0;
}

.contenido_slide p{
  color: #393939;
  font-size:18px;
  text-align: justify;
  font-family: 'conduitl';
}

.bg_gray{
  padding: 30px 0;
  background-color: #f3f3f3;
}

 /* contact form */

.contact-form input[type=text],.contact-form input[type=number],.contact-form input[type=email],.contact-form textarea{
    background: #d2d2d2;
    border-radius: 0px;
    text-align: center;
}


.contact-form  input[type=text]::-webkit-input-placeholder,.contact-form  input[type=number]::-webkit-input-placeholder,.contact-form  input[type=email]::-webkit-input-placeholder,.contact-form  textarea::-webkit-input-placeholder  {
  color: #5f5f5f;
  text-align: center;
}

/* prefooter*/
.prefooter{
  background-color: #343434;
}

.prefooter a{
  color:#ffffff;
  font-size: 22px;
}

.container_social_footer a i{
  margin: 0 15px;
}

footer{
  background-color: black;
  font-family: 'conduitl';
  color:white;
  font-size: 18px;
  padding: 15px 0;
}


/* historia */

.historia_jarocho p{
  font-family: 'conduitl';
  font-size:20px;
  text-align: justify;
}

.square_center{
  padding: 30px 50px;
}

/* mobile */
@media only screen and (max-device-width: 768px) {
  .padding_fix h4{
    padding: 0px 20px 25px 20px !important;

  }

  .padding_fix{
    font-size: 20px;
  }

  .margin-fix{
    margin-bottom:20px !important;
  }

  .marker-verde{
    margin-top: 20px !important;
  }

  .padding_fix2{
    padding: 15px 50px 15px 50px !important;
  }

  .navbar-brand img{
    height: 35px;
  }

  .main-menu.navbar-default {
    border-top:none;
  }

  .sabor-fix{
    position: relative;
    top: 20px;
  }

  .navbar-default {
  }

  .navbar-toggle{
    float:left;
    margin-left: 10px;
    margin-top: 17px;
    margin-right: 15px;
  }

  .home_icon{
    width: 80px;
    margin: 10px auto;
  }

  .height-fix{
    height: 75px;
  }

  .height-fix2{
    height: 50px;
  }

}
